<div class="row">
    <div class="col text-center">
        {{ form_start(form, {attr:{'class': 'form-inline text-center'}}) }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.url, {'attr':{'class': 'form-control', 'placeholder': 'url'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <button type="submit" class="btn btn-primary btn-lg">Create</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% if site is defined %}
    <div class="row">
        <div class="col text-center">
            <H3 class="text-success">Congratulation, you just added {{ site.url }} to Random-web:</H3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>

        <div class="col">

            <div class="card" >
                <a href="{{ site.url }}">
                    {%  if not site.thumbnailUrl is null %}
                        <img class="card-img-top card-img-top-fixed-height" src="{{ site.thumbnailUrl }}" alt="{{ site.title }}">
                    {% else %}
                        <img class="card-img-top card-img-top-fixed-height" src="{{ asset('img/landing.jpg') }}" alt="{{ site.title }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ site.title }}</h5>
                    <p class="card-text">{{ site.description }}</p>
                    <a href="{{ site.url }}" class="card-link">
                        {{ site.url }}
                    </a>
                </div>

            </div>
        </div>
        <div class="col">
        </div>
    </div>
{% endif %}