<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Random web{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('/build/css/main.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
            {#{% include 'blocs/navbar.html.twig' %}#}
            <div class=" top-container"  >
            </div>

                <div class="container top-container-innerMargin">
                    <div class="row" >
                        <div class="col text-center">
                            <H1 class="white-text">Random web</H1>
                            <h2 class="white-text">Get lost on internet</h2>
                        </div>
                    </div>
                    <div class="row d-none d-sm-block">
                        <div class="card-deck">
                            {% for site in sites %}

                                <div class="card" >
                                    <a href="{{ site.url }}">
                                        {%  if not site.thumbnailUrl is null %}
                                            <img class="card-img-top card-img-top-fixed-height" src="{{ site.thumbnailUrl }}" alt="{{ site.title }}">
                                        {% else %}
                                            <img class="card-img-top card-img-top-fixed-height" src="{{ asset('img/landing.jpg') }}" alt="{{ site.title }}">
                                        {% endif %}

                                    </a>

                                    <div class="card-body">
                                        <h5 class="card-title">{{ site.title }}</h5>
                                        <p class="card-text">{{ site.description }}</p>
                                        <a href="{{ site.url }}" class="card-link">
                                            {{ site.url }}
                                        </a>
                                    </div>

                                </div>




                            {% endfor %}
                        </div>
                    </div>
                    <div class="row d-md-none">
                        <div class="col">
                            <div class="card-deck">
                                {% for site in sites %}

                                    <div class="card" >
                                        <a href="{{ site.url }}">
                                            {%  if not site.thumbnailUrl is null %}
                                                <img class="card-img-top card-img-top-fixed-height" src="{{ site.thumbnailUrl }}" alt="{{ site.title }}">
                                            {% else %}
                                                <img class="card-img-top card-img-top-fixed-height" src="{{ asset('img/landing.jpg') }}" alt="{{ site.title }}">
                                            {% endif %}

                                        </a>

                                        <div class="card-body">
                                            <h5 class="card-title">{{ site.title }}</h5>
                                            <p class="card-text">{{ site.description }}</p>
                                            <a href="{{ site.url }}" class="card-link">
                                                {{ site.url }}
                                            </a>
                                        </div>

                                    </div>




                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="row margin-top-20px" >
                        <div class="col text-center">
                            <div class="jumbotron">
                                {{ render(controller('App\\Controller\\SiteController::create', {'request': app.request})) }}

                            </div>
                        </div>
                    </div>
                </div>







        {% endblock %}

        {% block footer %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-1 "></div>
                    <div class="col-11 ">
                        <div class="media">
                            <img class="mr-3" src="{{ asset('img/moi.jfif') }}" alt="Generic placeholder image" height="63px">
                            <div class="media-body">
                                <h5 class="mt-0">I have made this open-source website to train myself with some new techs.</h5>
                                <a href="https://github.com/sewelseb/random-web">Source code on github</a>
                            </div>
                        </div>


                        <small class="d-block mb-3 text-muted">Sébastien de Beauffort, 2018</small>
                    </div>
                </div>
            </footer>
            </div>
        {% endblock %}


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('/build/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
